@page
@model Backpackers_Authority.Views.Home.AboutModel
@{
}
<div class="has-bg-img">
    <h2>Backpackers Authority</h2>
    <p><img src="~/images/mountains-1867589_1280.jpg" alt="Mountain Glow" class="rounded-circle" style="width:200px;box-shadow:1px 1px 1px black;"></p>
    <h4><i class="fa fa-leaf" style="font-size:36px"></i>Backpackers Authority is the home for all your backpacking resources.  From gear reviews to the inside scoop on the best trails in the world, Backpackers Authority is the place for true trailblazers.<i class="fa fa-leaf" style="font-size:36px"></i></h4>
    <img class="bg-img" src="~/images/backpack-1868720_1280.jpg" alt="Boots and Rocks">
</div>
