@{
    ViewData["Title"] = "Backpackers Authority";
}

<div class="has-bg-img">
    <h2>Backpackers Authority</h2>
    <h4><i class="fa fa-leaf" style="font-size:36px"></i>Hit the trails with the confidence of a seasoned trail blazer<i class="fa fa-leaf" style="font-size:36px"></i></h4>
    <img class="bg-img" src="images/backpack-1868720_1280.jpg" alt="Boots and Rocks">
</div>
